/* For fun */

body {
    background-image: url("http://bo029.k12.sd.us/MS%20Play/2012-2013/Who%20DunIt.gif");
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: xx-large;
}

h3 {
    background-color: white;
}